--
-- PostgreSQL database dump
--

\restrict Vvq1NdZ4YfpKM9z5RvCqHcRGj21ma8O6XrOcdXsms1XVfBGiQpsOdEcdAGPoTpg

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: google_vacuum_mgmt; Type: SCHEMA; Schema: -; Owner: cloudsqladmin
--

CREATE SCHEMA google_vacuum_mgmt;


ALTER SCHEMA google_vacuum_mgmt OWNER TO cloudsqladmin;

--
-- Name: google_vacuum_mgmt; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS google_vacuum_mgmt WITH SCHEMA google_vacuum_mgmt;


--
-- Name: EXTENSION google_vacuum_mgmt; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION google_vacuum_mgmt IS 'extension for assistive operational tooling';


--
-- Name: community_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.community_role AS ENUM (
    'member',
    'admin'
);


ALTER TYPE public.community_role OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'user',
    'admin'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN NEW.updated_at = NOW(); RETURN NEW; END; $$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

--
-- Name: sync_profile_tables_from_users(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sync_profile_tables_from_users() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
		BEGIN
			INSERT INTO user_public_profiles (
				username,
				headline,
				bio,
				avatar_url,
				created_at,
				updated_at
			) VALUES (
				NEW.username,
				NEW.headline,
				NEW.bio,
				NEW.avatar_url,
				NEW.created_at,
				NEW.updated_at
			)
			ON CONFLICT (username) DO UPDATE SET
				headline = EXCLUDED.headline,
				bio = EXCLUDED.bio,
				avatar_url = EXCLUDED.avatar_url,
				updated_at = EXCLUDED.updated_at;

			INSERT INTO user_private_profiles (
				username,
				first_name,
				last_name,
				phone_number,
				instagram_handle,
				twitter_handle,
				avatar_url,
				created_at,
				updated_at
			) VALUES (
				NEW.username,
				NEW.first_name,
				NEW.last_name,
				NEW.phone_number,
				NEW.instagram_handle,
				NEW.twitter_handle,
				NEW.avatar_url,
				NEW.created_at,
				NEW.updated_at
			)
			ON CONFLICT (username) DO UPDATE SET
				first_name = EXCLUDED.first_name,
				last_name = EXCLUDED.last_name,
				phone_number = EXCLUDED.phone_number,
				instagram_handle = EXCLUDED.instagram_handle,
				twitter_handle = EXCLUDED.twitter_handle,
				avatar_url = EXCLUDED.avatar_url,
				updated_at = EXCLUDED.updated_at;

			RETURN NEW;
		END;
		$$;


ALTER FUNCTION public.sync_profile_tables_from_users() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_deletion_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_deletion_requests (
    id bigint NOT NULL,
    username text NOT NULL,
    request_type text NOT NULL,
    break_duration_days integer,
    status text DEFAULT 'pending'::text NOT NULL,
    admin_notes text DEFAULT ''::text NOT NULL,
    requested_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp with time zone,
    reviewed_by text,
    CONSTRAINT deletion_requests_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'approved'::text, 'rejected'::text]))),
    CONSTRAINT deletion_requests_type_check CHECK ((request_type = ANY (ARRAY['take_break'::text, 'delete'::text])))
);


ALTER TABLE public.account_deletion_requests OWNER TO postgres;

--
-- Name: account_deletion_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.account_deletion_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.account_deletion_requests_id_seq OWNER TO postgres;

--
-- Name: account_deletion_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.account_deletion_requests_id_seq OWNED BY public.account_deletion_requests.id;


--
-- Name: allowed_work_email_domains; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.allowed_work_email_domains (
    domain text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.allowed_work_email_domains OWNER TO postgres;

--
-- Name: analytics_device_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_device_users (
    device_id text NOT NULL,
    username text NOT NULL,
    first_seen timestamp with time zone DEFAULT now() NOT NULL,
    last_seen timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.analytics_device_users OWNER TO postgres;

--
-- Name: analytics_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_events (
    id bigint NOT NULL,
    event_id uuid NOT NULL,
    device_id text NOT NULL,
    username text,
    session_id text NOT NULL,
    category text NOT NULL,
    action text NOT NULL,
    properties jsonb DEFAULT '{}'::jsonb NOT NULL,
    app_version text,
    platform text,
    client_ts timestamp with time zone NOT NULL,
    server_ts timestamp with time zone DEFAULT now() NOT NULL,
    ip inet
);


ALTER TABLE public.analytics_events OWNER TO postgres;

--
-- Name: analytics_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analytics_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analytics_events_id_seq OWNER TO postgres;

--
-- Name: analytics_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analytics_events_id_seq OWNED BY public.analytics_events.id;


--
-- Name: app_version_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_version_config (
    id smallint NOT NULL,
    latest_version text NOT NULL,
    min_supported_version text NOT NULL,
    force_update boolean DEFAULT false NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    maintenance_mode boolean DEFAULT false NOT NULL,
    ios_update_url text DEFAULT ''::text NOT NULL,
    android_update_url text DEFAULT ''::text NOT NULL,
    feature_flags jsonb DEFAULT '{"chatEditEnabled": true, "chatReplyEnabled": true, "chatDeleteEnabled": true, "callRecordsEnabled": true, "accountDeletionEnabled": true}'::jsonb NOT NULL,
    work_email_open boolean DEFAULT false NOT NULL,
    CONSTRAINT app_version_config_id_check CHECK ((id = 1))
);


ALTER TABLE public.app_version_config OWNER TO postgres;

--
-- Name: broadcasts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.broadcasts (
    id bigint NOT NULL,
    community_id bigint NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    admin_id text NOT NULL,
    posted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.broadcasts OWNER TO postgres;

--
-- Name: broadcasts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.broadcasts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.broadcasts_id_seq OWNER TO postgres;

--
-- Name: broadcasts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.broadcasts_id_seq OWNED BY public.broadcasts.id;


--
-- Name: call_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.call_feedback (
    id bigint NOT NULL,
    from_username text NOT NULL,
    to_username text NOT NULL,
    rating smallint NOT NULL,
    notes text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT call_feedback_check CHECK ((from_username <> to_username)),
    CONSTRAINT call_feedback_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.call_feedback OWNER TO postgres;

--
-- Name: call_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.call_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.call_feedback_id_seq OWNER TO postgres;

--
-- Name: call_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.call_feedback_id_seq OWNED BY public.call_feedback.id;


--
-- Name: communities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communities (
    id bigint NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text DEFAULT ''::text,
    avatar_url text DEFAULT ''::text,
    is_private boolean DEFAULT false NOT NULL,
    created_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    type text DEFAULT 'social'::text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    requires_approval boolean DEFAULT false NOT NULL,
    invite_token text DEFAULT ''::text NOT NULL,
    admin_only_posts boolean DEFAULT false NOT NULL
);


ALTER TABLE public.communities OWNER TO postgres;

--
-- Name: communities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.communities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.communities_id_seq OWNER TO postgres;

--
-- Name: communities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.communities_id_seq OWNED BY public.communities.id;


--
-- Name: community_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_events (
    id bigint NOT NULL,
    community_id bigint NOT NULL,
    title text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    location text DEFAULT ''::text NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    created_by text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.community_events OWNER TO postgres;

--
-- Name: community_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.community_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.community_events_id_seq OWNER TO postgres;

--
-- Name: community_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.community_events_id_seq OWNED BY public.community_events.id;


--
-- Name: community_form_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_form_questions (
    id bigint NOT NULL,
    community_id bigint NOT NULL,
    question_text text NOT NULL,
    answer_type text DEFAULT 'text'::text NOT NULL,
    options jsonb DEFAULT '[]'::jsonb NOT NULL,
    is_required boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.community_form_questions OWNER TO postgres;

--
-- Name: community_form_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.community_form_questions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.community_form_questions_id_seq OWNER TO postgres;

--
-- Name: community_form_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.community_form_questions_id_seq OWNED BY public.community_form_questions.id;


--
-- Name: community_join_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_join_answers (
    community_id bigint NOT NULL,
    username text NOT NULL,
    answers jsonb DEFAULT '[]'::jsonb NOT NULL,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.community_join_answers OWNER TO postgres;

--
-- Name: community_join_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_join_requests (
    community_id bigint NOT NULL,
    username text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.community_join_requests OWNER TO postgres;

--
-- Name: community_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_members (
    community_id bigint NOT NULL,
    username text NOT NULL,
    role public.community_role DEFAULT 'member'::public.community_role NOT NULL,
    joined_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.community_members OWNER TO postgres;

--
-- Name: community_posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_posts (
    id bigint NOT NULL,
    community_id bigint NOT NULL,
    author_username text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.community_posts OWNER TO postgres;

--
-- Name: community_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.community_posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.community_posts_id_seq OWNER TO postgres;

--
-- Name: community_posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.community_posts_id_seq OWNED BY public.community_posts.id;


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    user1 text NOT NULL,
    user2 text NOT NULL,
    last_message_seq bigint DEFAULT 0 NOT NULL,
    last_message_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: daily_call_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_call_stats (
    date date NOT NULL,
    total_seconds bigint DEFAULT 0 NOT NULL
);


ALTER TABLE public.daily_call_stats OWNER TO postgres;

--
-- Name: dismissed_broadcasts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dismissed_broadcasts (
    broadcast_id bigint NOT NULL,
    user_id text NOT NULL,
    dismissed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dismissed_broadcasts OWNER TO postgres;

--
-- Name: event_attendees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_attendees (
    event_id bigint NOT NULL,
    user_id text NOT NULL,
    status text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT event_attendees_status_check CHECK ((status = ANY (ARRAY['going'::text, 'maybe'::text, 'declined'::text])))
);


ALTER TABLE public.event_attendees OWNER TO postgres;

--
-- Name: event_connection_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_connection_requests (
    id bigint NOT NULL,
    event_id bigint NOT NULL,
    from_user_id text NOT NULL,
    to_user_id text NOT NULL,
    status text NOT NULL,
    ai_meet_reason text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT event_connection_requests_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'accepted'::text, 'declined'::text])))
);


ALTER TABLE public.event_connection_requests OWNER TO postgres;

--
-- Name: event_connection_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.event_connection_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_connection_requests_id_seq OWNER TO postgres;

--
-- Name: event_connection_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.event_connection_requests_id_seq OWNED BY public.event_connection_requests.id;


--
-- Name: friend_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.friend_requests (
    user1 text NOT NULL,
    user2 text NOT NULL,
    intent1 boolean DEFAULT false NOT NULL,
    intent2 boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.friend_requests OWNER TO postgres;

--
-- Name: maintainer_colleges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintainer_colleges (
    maintainer_id bigint NOT NULL,
    college text NOT NULL
);


ALTER TABLE public.maintainer_colleges OWNER TO postgres;

--
-- Name: maintainers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintainers (
    id bigint NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    display_name text DEFAULT ''::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_by text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.maintainers OWNER TO postgres;

--
-- Name: maintainers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintainers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintainers_id_seq OWNER TO postgres;

--
-- Name: maintainers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintainers_id_seq OWNED BY public.maintainers.id;


--
-- Name: message_idempotency; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_idempotency (
    sender_username text NOT NULL,
    client_message_id text NOT NULL,
    message_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.message_idempotency OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id bigint NOT NULL,
    conversation_user1 text NOT NULL,
    conversation_user2 text NOT NULL,
    seq bigint NOT NULL,
    sender_username text NOT NULL,
    recipient_username text NOT NULL,
    client_message_id text,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    delivered_at timestamp with time zone,
    read_at timestamp with time zone,
    message_type text DEFAULT 'text'::text NOT NULL,
    reply_to_id bigint,
    reply_to_content text DEFAULT ''::text NOT NULL,
    reply_to_sender text DEFAULT ''::text NOT NULL,
    edited_at timestamp with time zone,
    deleted_at timestamp with time zone,
    deleted_for_sender_at timestamp with time zone,
    call_duration_seconds integer,
    call_direction text,
    call_started_at timestamp with time zone,
    call_ended_at timestamp with time zone,
    call_status text,
    CONSTRAINT messages_check1 CHECK ((sender_username <> recipient_username))
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: platform_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platform_stats (
    id integer DEFAULT 1 NOT NULL,
    total_call_seconds bigint DEFAULT 0 NOT NULL,
    CONSTRAINT platform_stats_single_row CHECK ((id = 1))
);


ALTER TABLE public.platform_stats OWNER TO postgres;

--
-- Name: requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requests (
    user1 text NOT NULL,
    user2 text NOT NULL,
    intent1 boolean DEFAULT false NOT NULL,
    intent2 boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.requests OWNER TO postgres;

--
-- Name: user_blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_blocks (
    blocker_username text NOT NULL,
    blocked_username text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_blocks_check CHECK ((blocker_username <> blocked_username))
);


ALTER TABLE public.user_blocks OWNER TO postgres;

--
-- Name: user_educations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_educations (
    id bigint NOT NULL,
    username text NOT NULL,
    source text NOT NULL,
    external_id text DEFAULT ''::text NOT NULL,
    school text DEFAULT ''::text NOT NULL,
    degree text DEFAULT ''::text NOT NULL,
    field_of_study text DEFAULT ''::text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    start_date text DEFAULT ''::text NOT NULL,
    end_date text DEFAULT ''::text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_educations_source_check CHECK ((source = ANY (ARRAY['manual'::text, 'imported'::text])))
);


ALTER TABLE public.user_educations OWNER TO postgres;

--
-- Name: user_educations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_educations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_educations_id_seq OWNER TO postgres;

--
-- Name: user_educations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_educations_id_seq OWNED BY public.user_educations.id;


--
-- Name: user_experiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_experiences (
    id bigint NOT NULL,
    username text NOT NULL,
    source text NOT NULL,
    external_id text DEFAULT ''::text NOT NULL,
    title text DEFAULT ''::text NOT NULL,
    company text DEFAULT ''::text NOT NULL,
    location text DEFAULT ''::text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    start_date text DEFAULT ''::text NOT NULL,
    end_date text DEFAULT ''::text NOT NULL,
    is_current boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_experiences_source_check CHECK ((source = ANY (ARRAY['manual'::text, 'imported'::text])))
);


ALTER TABLE public.user_experiences OWNER TO postgres;

--
-- Name: user_experiences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_experiences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_experiences_id_seq OWNER TO postgres;

--
-- Name: user_experiences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_experiences_id_seq OWNED BY public.user_experiences.id;


--
-- Name: user_onboarding_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_onboarding_profiles (
    username text NOT NULL,
    study_interests jsonb DEFAULT '[]'::jsonb NOT NULL,
    unwind_interests jsonb DEFAULT '[]'::jsonb NOT NULL,
    weekly_hustle jsonb DEFAULT '[]'::jsonb NOT NULL,
    north_star jsonb DEFAULT '[]'::jsonb NOT NULL,
    home_states jsonb DEFAULT '[]'::jsonb NOT NULL,
    home_cities jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_onboarding_home_cities_array CHECK ((jsonb_typeof(home_cities) = 'array'::text)),
    CONSTRAINT user_onboarding_home_states_array CHECK ((jsonb_typeof(home_states) = 'array'::text)),
    CONSTRAINT user_onboarding_north_star_array CHECK ((jsonb_typeof(north_star) = 'array'::text)),
    CONSTRAINT user_onboarding_study_interests_array CHECK ((jsonb_typeof(study_interests) = 'array'::text)),
    CONSTRAINT user_onboarding_unwind_interests_array CHECK ((jsonb_typeof(unwind_interests) = 'array'::text)),
    CONSTRAINT user_onboarding_weekly_hustle_array CHECK ((jsonb_typeof(weekly_hustle) = 'array'::text))
);


ALTER TABLE public.user_onboarding_profiles OWNER TO postgres;

--
-- Name: user_private_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_private_profiles (
    username text NOT NULL,
    first_name text DEFAULT ''::text NOT NULL,
    last_name text DEFAULT ''::text NOT NULL,
    phone_number text DEFAULT ''::text,
    avatar_url text DEFAULT ''::text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    instagram_handle text DEFAULT ''::text,
    twitter_handle text DEFAULT ''::text
);


ALTER TABLE public.user_private_profiles OWNER TO postgres;

--
-- Name: user_public_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_public_profiles (
    username text NOT NULL,
    headline text DEFAULT ''::text,
    bio text DEFAULT ''::text,
    avatar_url text DEFAULT ''::text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_public_profiles OWNER TO postgres;

--
-- Name: user_referral_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_referral_sources (
    id bigint NOT NULL,
    username text NOT NULL,
    source text NOT NULL,
    referee_username text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_referral_sources OWNER TO postgres;

--
-- Name: user_referral_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_referral_sources_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_referral_sources_id_seq OWNER TO postgres;

--
-- Name: user_referral_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_referral_sources_id_seq OWNED BY public.user_referral_sources.id;


--
-- Name: user_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_reports (
    id bigint NOT NULL,
    reporter_username text NOT NULL,
    reported_username text NOT NULL,
    reason text NOT NULL,
    notes text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    admin_notes text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_reports_self_check CHECK ((reporter_username <> reported_username)),
    CONSTRAINT user_reports_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'reviewed'::text, 'dismissed'::text])))
);


ALTER TABLE public.user_reports OWNER TO postgres;

--
-- Name: user_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_reports_id_seq OWNER TO postgres;

--
-- Name: user_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_reports_id_seq OWNED BY public.user_reports.id;


--
-- Name: user_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_skills (
    id bigint NOT NULL,
    username text NOT NULL,
    source text NOT NULL,
    external_id text DEFAULT ''::text NOT NULL,
    name text DEFAULT ''::text NOT NULL,
    endorsement_count integer DEFAULT 0 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_skills_source_check CHECK ((source = ANY (ARRAY['manual'::text, 'imported'::text])))
);


ALTER TABLE public.user_skills OWNER TO postgres;

--
-- Name: user_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_skills_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_skills_id_seq OWNER TO postgres;

--
-- Name: user_skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_skills_id_seq OWNED BY public.user_skills.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    username text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    first_name text NOT NULL,
    last_name text DEFAULT ''::text NOT NULL,
    headline text DEFAULT ''::text NOT NULL,
    phone_number text DEFAULT ''::text NOT NULL,
    role public.user_role DEFAULT 'user'::public.user_role NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    is_banned boolean DEFAULT false NOT NULL,
    avatar_url text DEFAULT ''::text,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    bio text DEFAULT ''::text NOT NULL,
    linkedin_url text DEFAULT ''::text NOT NULL,
    linkedin_avatar_url text DEFAULT ''::text NOT NULL,
    linkedin_raw_profile jsonb DEFAULT '{}'::jsonb NOT NULL,
    linkedin_last_synced_at timestamp with time zone,
    is_onboarding_complete boolean DEFAULT false NOT NULL,
    instagram_handle text DEFAULT ''::text NOT NULL,
    twitter_handle text DEFAULT ''::text NOT NULL,
    age integer DEFAULT 0 NOT NULL,
    gender text DEFAULT ''::text NOT NULL,
    date_of_birth date,
    college text DEFAULT ''::text NOT NULL,
    account_state text DEFAULT 'normal'::text NOT NULL,
    account_state_until timestamp with time zone,
    profile_visibility jsonb DEFAULT '{}'::jsonb NOT NULL,
    fcm_token text,
    fcm_token_updated_at timestamp with time zone,
    fcm_platform text,
    username_last_changed_at timestamp with time zone,
    password_changed_at timestamp with time zone,
    phone_verified boolean DEFAULT false NOT NULL,
    college_course text DEFAULT ''::text NOT NULL,
    graduation_year integer,
    work_email text DEFAULT ''::text NOT NULL,
    work_email_verified boolean DEFAULT false NOT NULL,
    college_start_year integer,
    nationality text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: work_email_review_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_email_review_requests (
    id bigint NOT NULL,
    username text NOT NULL,
    work_email text NOT NULL,
    domain text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    reviewed_by text DEFAULT ''::text NOT NULL,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    review_note text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.work_email_review_requests OWNER TO postgres;

--
-- Name: work_email_review_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_email_review_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_email_review_requests_id_seq OWNER TO postgres;

--
-- Name: work_email_review_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_email_review_requests_id_seq OWNED BY public.work_email_review_requests.id;


--
-- Name: account_deletion_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_requests ALTER COLUMN id SET DEFAULT nextval('public.account_deletion_requests_id_seq'::regclass);


--
-- Name: analytics_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events ALTER COLUMN id SET DEFAULT nextval('public.analytics_events_id_seq'::regclass);


--
-- Name: broadcasts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.broadcasts ALTER COLUMN id SET DEFAULT nextval('public.broadcasts_id_seq'::regclass);


--
-- Name: call_feedback id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_feedback ALTER COLUMN id SET DEFAULT nextval('public.call_feedback_id_seq'::regclass);


--
-- Name: communities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communities ALTER COLUMN id SET DEFAULT nextval('public.communities_id_seq'::regclass);


--
-- Name: community_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_events ALTER COLUMN id SET DEFAULT nextval('public.community_events_id_seq'::regclass);


--
-- Name: community_form_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_form_questions ALTER COLUMN id SET DEFAULT nextval('public.community_form_questions_id_seq'::regclass);


--
-- Name: community_posts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_posts ALTER COLUMN id SET DEFAULT nextval('public.community_posts_id_seq'::regclass);


--
-- Name: event_connection_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_connection_requests ALTER COLUMN id SET DEFAULT nextval('public.event_connection_requests_id_seq'::regclass);


--
-- Name: maintainers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintainers ALTER COLUMN id SET DEFAULT nextval('public.maintainers_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: user_educations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_educations ALTER COLUMN id SET DEFAULT nextval('public.user_educations_id_seq'::regclass);


--
-- Name: user_experiences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_experiences ALTER COLUMN id SET DEFAULT nextval('public.user_experiences_id_seq'::regclass);


--
-- Name: user_referral_sources id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_referral_sources ALTER COLUMN id SET DEFAULT nextval('public.user_referral_sources_id_seq'::regclass);


--
-- Name: user_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports ALTER COLUMN id SET DEFAULT nextval('public.user_reports_id_seq'::regclass);


--
-- Name: user_skills id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills ALTER COLUMN id SET DEFAULT nextval('public.user_skills_id_seq'::regclass);


--
-- Name: work_email_review_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_email_review_requests ALTER COLUMN id SET DEFAULT nextval('public.work_email_review_requests_id_seq'::regclass);


--
-- Name: account_deletion_requests account_deletion_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_requests
    ADD CONSTRAINT account_deletion_requests_pkey PRIMARY KEY (id);


--
-- Name: allowed_work_email_domains allowed_work_email_domains_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allowed_work_email_domains
    ADD CONSTRAINT allowed_work_email_domains_pkey PRIMARY KEY (domain);


--
-- Name: analytics_device_users analytics_device_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_device_users
    ADD CONSTRAINT analytics_device_users_pkey PRIMARY KEY (device_id, username);


--
-- Name: analytics_events analytics_events_event_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_event_id_key UNIQUE (event_id);


--
-- Name: analytics_events analytics_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_pkey PRIMARY KEY (id);


--
-- Name: app_version_config app_version_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_version_config
    ADD CONSTRAINT app_version_config_pkey PRIMARY KEY (id);


--
-- Name: broadcasts broadcasts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_pkey PRIMARY KEY (id);


--
-- Name: call_feedback call_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_feedback
    ADD CONSTRAINT call_feedback_pkey PRIMARY KEY (id);


--
-- Name: communities communities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT communities_pkey PRIMARY KEY (id);


--
-- Name: communities communities_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT communities_slug_key UNIQUE (slug);


--
-- Name: community_events community_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_events
    ADD CONSTRAINT community_events_pkey PRIMARY KEY (id);


--
-- Name: community_form_questions community_form_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_form_questions
    ADD CONSTRAINT community_form_questions_pkey PRIMARY KEY (id);


--
-- Name: community_join_answers community_join_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_join_answers
    ADD CONSTRAINT community_join_answers_pkey PRIMARY KEY (community_id, username);


--
-- Name: community_join_requests community_join_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_join_requests
    ADD CONSTRAINT community_join_requests_pkey PRIMARY KEY (community_id, username);


--
-- Name: community_members community_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT community_members_pkey PRIMARY KEY (community_id, username);


--
-- Name: community_posts community_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_posts
    ADD CONSTRAINT community_posts_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (user1, user2);


--
-- Name: daily_call_stats daily_call_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_call_stats
    ADD CONSTRAINT daily_call_stats_pkey PRIMARY KEY (date);


--
-- Name: dismissed_broadcasts dismissed_broadcasts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dismissed_broadcasts
    ADD CONSTRAINT dismissed_broadcasts_pkey PRIMARY KEY (broadcast_id, user_id);


--
-- Name: event_attendees event_attendees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT event_attendees_pkey PRIMARY KEY (event_id, user_id);


--
-- Name: event_connection_requests event_connection_requests_event_id_from_user_id_to_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_connection_requests
    ADD CONSTRAINT event_connection_requests_event_id_from_user_id_to_user_id_key UNIQUE (event_id, from_user_id, to_user_id);


--
-- Name: event_connection_requests event_connection_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_connection_requests
    ADD CONSTRAINT event_connection_requests_pkey PRIMARY KEY (id);


--
-- Name: friend_requests friend_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_pkey PRIMARY KEY (user1, user2);


--
-- Name: maintainer_colleges maintainer_colleges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintainer_colleges
    ADD CONSTRAINT maintainer_colleges_pkey PRIMARY KEY (maintainer_id, college);


--
-- Name: maintainers maintainers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintainers
    ADD CONSTRAINT maintainers_pkey PRIMARY KEY (id);


--
-- Name: maintainers maintainers_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintainers
    ADD CONSTRAINT maintainers_username_key UNIQUE (username);


--
-- Name: message_idempotency message_idempotency_message_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_idempotency
    ADD CONSTRAINT message_idempotency_message_id_key UNIQUE (message_id);


--
-- Name: message_idempotency message_idempotency_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_idempotency
    ADD CONSTRAINT message_idempotency_pkey PRIMARY KEY (sender_username, client_message_id);


--
-- Name: messages messages_conversation_user1_conversation_user2_seq_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_user1_conversation_user2_seq_key UNIQUE (conversation_user1, conversation_user2, seq);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: platform_stats platform_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_stats
    ADD CONSTRAINT platform_stats_pkey PRIMARY KEY (id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (user1, user2);


--
-- Name: user_blocks user_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_pkey PRIMARY KEY (blocker_username, blocked_username);


--
-- Name: user_educations user_educations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_educations
    ADD CONSTRAINT user_educations_pkey PRIMARY KEY (id);


--
-- Name: user_experiences user_experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_experiences
    ADD CONSTRAINT user_experiences_pkey PRIMARY KEY (id);


--
-- Name: user_onboarding_profiles user_onboarding_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_onboarding_profiles
    ADD CONSTRAINT user_onboarding_profiles_pkey PRIMARY KEY (username);


--
-- Name: user_private_profiles user_private_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_private_profiles
    ADD CONSTRAINT user_private_profiles_pkey PRIMARY KEY (username);


--
-- Name: user_public_profiles user_public_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_public_profiles
    ADD CONSTRAINT user_public_profiles_pkey PRIMARY KEY (username);


--
-- Name: user_referral_sources user_referral_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_referral_sources
    ADD CONSTRAINT user_referral_sources_pkey PRIMARY KEY (id);


--
-- Name: user_referral_sources user_referral_sources_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_referral_sources
    ADD CONSTRAINT user_referral_sources_username_key UNIQUE (username);


--
-- Name: user_reports user_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_pkey PRIMARY KEY (id);


--
-- Name: user_skills user_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (username);


--
-- Name: work_email_review_requests work_email_review_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_email_review_requests
    ADD CONSTRAINT work_email_review_requests_pkey PRIMARY KEY (id);


--
-- Name: idx_adu_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_adu_username ON public.analytics_device_users USING btree (username);


--
-- Name: idx_broadcasts_community_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_broadcasts_community_id ON public.broadcasts USING btree (community_id);


--
-- Name: idx_call_feedback_from_username_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_call_feedback_from_username_created_at ON public.call_feedback USING btree (from_username, created_at DESC);


--
-- Name: idx_call_feedback_to_username_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_call_feedback_to_username_created_at ON public.call_feedback USING btree (to_username, created_at DESC);


--
-- Name: idx_communities_invite_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_communities_invite_token ON public.communities USING btree (invite_token) WHERE (invite_token <> ''::text);


--
-- Name: idx_communities_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_communities_slug ON public.communities USING btree (slug);


--
-- Name: idx_communities_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_communities_status ON public.communities USING btree (status);


--
-- Name: idx_community_events_community_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_community_events_community_id ON public.community_events USING btree (community_id);


--
-- Name: idx_community_events_start_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_community_events_start_time ON public.community_events USING btree (start_time);


--
-- Name: idx_community_members_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_community_members_username ON public.community_members USING btree (username);


--
-- Name: idx_community_posts_author; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_community_posts_author ON public.community_posts USING btree (author_username);


--
-- Name: idx_community_posts_community_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_community_posts_community_id ON public.community_posts USING btree (community_id);


--
-- Name: idx_conversations_user1_last_message_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conversations_user1_last_message_at ON public.conversations USING btree (user1, last_message_at DESC);


--
-- Name: idx_conversations_user2_last_message_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conversations_user2_last_message_at ON public.conversations USING btree (user2, last_message_at DESC);


--
-- Name: idx_daily_call_stats_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_daily_call_stats_date ON public.daily_call_stats USING btree (date DESC);


--
-- Name: idx_deletion_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deletion_requests_status ON public.account_deletion_requests USING btree (status, requested_at DESC);


--
-- Name: idx_deletion_requests_type_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deletion_requests_type_status ON public.account_deletion_requests USING btree (request_type, status);


--
-- Name: idx_deletion_requests_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deletion_requests_username ON public.account_deletion_requests USING btree (username);


--
-- Name: idx_dismissed_broadcasts_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dismissed_broadcasts_user_id ON public.dismissed_broadcasts USING btree (user_id);


--
-- Name: idx_event_attendees_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_attendees_user_id ON public.event_attendees USING btree (user_id);


--
-- Name: idx_event_conn_requests_event_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_conn_requests_event_id ON public.event_connection_requests USING btree (event_id);


--
-- Name: idx_event_conn_requests_to_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_conn_requests_to_user ON public.event_connection_requests USING btree (to_user_id);


--
-- Name: idx_events_cat_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_cat_action ON public.analytics_events USING btree (category, action, server_ts DESC);


--
-- Name: idx_events_device_ts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_device_ts ON public.analytics_events USING btree (device_id, server_ts DESC);


--
-- Name: idx_events_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_session ON public.analytics_events USING btree (session_id);


--
-- Name: idx_events_username_ts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_username_ts ON public.analytics_events USING btree (username, server_ts DESC) WHERE (username IS NOT NULL);


--
-- Name: idx_friend_requests_matched_user1_user2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_friend_requests_matched_user1_user2 ON public.friend_requests USING btree (user1, user2) WHERE ((intent1 = true) AND (intent2 = true));


--
-- Name: idx_friend_requests_matched_user2_user1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_friend_requests_matched_user2_user1 ON public.friend_requests USING btree (user2, user1) WHERE ((intent1 = true) AND (intent2 = true));


--
-- Name: idx_friend_requests_user1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_friend_requests_user1 ON public.friend_requests USING btree (user1);


--
-- Name: idx_friend_requests_user2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_friend_requests_user2 ON public.friend_requests USING btree (user2);


--
-- Name: idx_join_requests_comm_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_join_requests_comm_id ON public.community_join_requests USING btree (community_id);


--
-- Name: idx_maintainer_colleges_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintainer_colleges_id ON public.maintainer_colleges USING btree (maintainer_id);


--
-- Name: idx_maintainers_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintainers_username ON public.maintainers USING btree (username);


--
-- Name: idx_message_idempotency_message_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_message_idempotency_message_id ON public.message_idempotency USING btree (message_id);


--
-- Name: idx_messages_conversation_seq_desc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_conversation_seq_desc ON public.messages USING btree (conversation_user1, conversation_user2, seq DESC);


--
-- Name: idx_messages_recipient_read_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_recipient_read_at ON public.messages USING btree (recipient_username, read_at, created_at DESC);


--
-- Name: idx_messages_reply_to_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_reply_to_id ON public.messages USING btree (reply_to_id) WHERE (reply_to_id IS NOT NULL);


--
-- Name: idx_private_profiles_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_private_profiles_username ON public.user_private_profiles USING btree (username);


--
-- Name: idx_public_profiles_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_public_profiles_username ON public.user_public_profiles USING btree (username);


--
-- Name: idx_referral_sources_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_referral_sources_source ON public.user_referral_sources USING btree (source);


--
-- Name: idx_requests_matched_user1_user2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_requests_matched_user1_user2 ON public.requests USING btree (user1, user2) WHERE ((intent1 = true) AND (intent2 = true));


--
-- Name: idx_requests_matched_user2_user1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_requests_matched_user2_user1 ON public.requests USING btree (user2, user1) WHERE ((intent1 = true) AND (intent2 = true));


--
-- Name: idx_requests_user1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_requests_user1 ON public.requests USING btree (user1);


--
-- Name: idx_requests_user2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_requests_user2 ON public.requests USING btree (user2);


--
-- Name: idx_user_blocks_blocked; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_blocks_blocked ON public.user_blocks USING btree (blocked_username);


--
-- Name: idx_user_blocks_blocker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_blocks_blocker ON public.user_blocks USING btree (blocker_username);


--
-- Name: idx_user_educations_username_source_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_educations_username_source_sort ON public.user_educations USING btree (username, source, sort_order, id);


--
-- Name: idx_user_experiences_username_source_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_experiences_username_source_sort ON public.user_experiences USING btree (username, source, sort_order, id);


--
-- Name: idx_user_onboarding_profiles_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_onboarding_profiles_username ON public.user_onboarding_profiles USING btree (username);


--
-- Name: idx_user_reports_reported; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_reports_reported ON public.user_reports USING btree (reported_username);


--
-- Name: idx_user_reports_reporter; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_reports_reporter ON public.user_reports USING btree (reporter_username);


--
-- Name: idx_user_reports_status_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_reports_status_created ON public.user_reports USING btree (status, created_at DESC);


--
-- Name: idx_user_skills_username_source_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_skills_username_source_sort ON public.user_skills USING btree (username, source, sort_order, id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_fcm_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_fcm_token ON public.users USING btree (fcm_token);


--
-- Name: idx_users_phone_verified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_phone_verified ON public.users USING btree (phone_number) WHERE ((phone_verified = true) AND (phone_number <> ''::text));


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_users_work_email_verified_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_users_work_email_verified_unique ON public.users USING btree (lower(work_email)) WHERE ((work_email_verified = true) AND (work_email <> ''::text));


--
-- Name: idx_werr_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_werr_status ON public.work_email_review_requests USING btree (status);


--
-- Name: idx_werr_unique_pending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_werr_unique_pending ON public.work_email_review_requests USING btree (username, domain) WHERE (status = 'pending'::text);


--
-- Name: communities trg_communities_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_communities_updated_at BEFORE UPDATE ON public.communities FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: community_events trg_community_events_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_community_events_updated_at BEFORE UPDATE ON public.community_events FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: community_posts trg_community_posts_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_community_posts_updated_at BEFORE UPDATE ON public.community_posts FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: event_attendees trg_event_attendees_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_event_attendees_updated_at BEFORE UPDATE ON public.event_attendees FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: event_connection_requests trg_event_conn_requests_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_event_conn_requests_updated_at BEFORE UPDATE ON public.event_connection_requests FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: maintainers trg_maintainers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_maintainers_updated_at BEFORE UPDATE ON public.maintainers FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: user_onboarding_profiles trg_onboarding_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_onboarding_profiles_updated_at BEFORE UPDATE ON public.user_onboarding_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: user_private_profiles trg_private_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_private_profiles_updated_at BEFORE UPDATE ON public.user_private_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: user_public_profiles trg_public_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_public_profiles_updated_at BEFORE UPDATE ON public.user_public_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_sync_profiles_from_users; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sync_profiles_from_users AFTER INSERT OR UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.sync_profile_tables_from_users();


--
-- Name: user_reports trg_user_reports_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_user_reports_updated_at BEFORE UPDATE ON public.user_reports FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: call_feedback call_feedback_from_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_feedback
    ADD CONSTRAINT call_feedback_from_username_fkey FOREIGN KEY (from_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: call_feedback call_feedback_to_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_feedback
    ADD CONSTRAINT call_feedback_to_username_fkey FOREIGN KEY (to_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communities communities_creator_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT communities_creator_fkey FOREIGN KEY (created_by) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversations conversations_user1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_user1_fkey FOREIGN KEY (user1) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversations conversations_user2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_user2_fkey FOREIGN KEY (user2) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: account_deletion_requests deletion_requests_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_requests
    ADD CONSTRAINT deletion_requests_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: analytics_device_users fk_adu_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_device_users
    ADD CONSTRAINT fk_adu_user FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: event_attendees fk_attendee_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT fk_attendee_event FOREIGN KEY (event_id) REFERENCES public.community_events(id) ON DELETE CASCADE;


--
-- Name: event_attendees fk_attendee_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT fk_attendee_user FOREIGN KEY (user_id) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: broadcasts fk_broadcast_admin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT fk_broadcast_admin FOREIGN KEY (admin_id) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: broadcasts fk_broadcast_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT fk_broadcast_community FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: community_members fk_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT fk_community FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: event_connection_requests fk_conn_req_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_connection_requests
    ADD CONSTRAINT fk_conn_req_event FOREIGN KEY (event_id) REFERENCES public.community_events(id) ON DELETE CASCADE;


--
-- Name: event_connection_requests fk_conn_req_from; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_connection_requests
    ADD CONSTRAINT fk_conn_req_from FOREIGN KEY (from_user_id) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: event_connection_requests fk_conn_req_to; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_connection_requests
    ADD CONSTRAINT fk_conn_req_to FOREIGN KEY (to_user_id) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dismissed_broadcasts fk_dismissed_broadcast; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dismissed_broadcasts
    ADD CONSTRAINT fk_dismissed_broadcast FOREIGN KEY (broadcast_id) REFERENCES public.broadcasts(id) ON DELETE CASCADE;


--
-- Name: dismissed_broadcasts fk_dismissed_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dismissed_broadcasts
    ADD CONSTRAINT fk_dismissed_user FOREIGN KEY (user_id) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: community_events fk_event_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_events
    ADD CONSTRAINT fk_event_community FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: community_events fk_event_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_events
    ADD CONSTRAINT fk_event_creator FOREIGN KEY (created_by) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: analytics_events fk_events_username; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT fk_events_username FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: community_form_questions fk_fq_comm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_form_questions
    ADD CONSTRAINT fk_fq_comm FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: community_join_answers fk_ja_comm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_join_answers
    ADD CONSTRAINT fk_ja_comm FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: community_join_answers fk_ja_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_join_answers
    ADD CONSTRAINT fk_ja_user FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: maintainer_colleges fk_mc_maintainer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintainer_colleges
    ADD CONSTRAINT fk_mc_maintainer FOREIGN KEY (maintainer_id) REFERENCES public.maintainers(id) ON DELETE CASCADE;


--
-- Name: community_posts fk_post_author; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_posts
    ADD CONSTRAINT fk_post_author FOREIGN KEY (author_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: community_posts fk_post_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_posts
    ADD CONSTRAINT fk_post_community FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: user_referral_sources fk_referral_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_referral_sources
    ADD CONSTRAINT fk_referral_user FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: community_join_requests fk_request_comm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_join_requests
    ADD CONSTRAINT fk_request_comm FOREIGN KEY (community_id) REFERENCES public.communities(id) ON DELETE CASCADE;


--
-- Name: community_join_requests fk_request_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_join_requests
    ADD CONSTRAINT fk_request_user FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: community_members fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT fk_user FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: friend_requests friend_requests_user1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_user1_fkey FOREIGN KEY (user1) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: friend_requests friend_requests_user2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_user2_fkey FOREIGN KEY (user2) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: message_idempotency message_idempotency_message_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_idempotency
    ADD CONSTRAINT message_idempotency_message_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: message_idempotency message_idempotency_sender_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_idempotency
    ADD CONSTRAINT message_idempotency_sender_fkey FOREIGN KEY (sender_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_conversation_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_fkey FOREIGN KEY (conversation_user1, conversation_user2) REFERENCES public.conversations(user1, user2) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_recipient_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_recipient_fkey FOREIGN KEY (recipient_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_reply_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_reply_to_id_fkey FOREIGN KEY (reply_to_id) REFERENCES public.messages(id) ON DELETE SET NULL;


--
-- Name: messages messages_sender_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_fkey FOREIGN KEY (sender_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: requests requests_user1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_user1_fkey FOREIGN KEY (user1) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: requests requests_user2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_user2_fkey FOREIGN KEY (user2) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_blocks user_blocks_blocked_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_blocked_fkey FOREIGN KEY (blocked_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_blocks user_blocks_blocker_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_blocker_fkey FOREIGN KEY (blocker_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_educations user_educations_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_educations
    ADD CONSTRAINT user_educations_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_experiences user_experiences_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_experiences
    ADD CONSTRAINT user_experiences_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_onboarding_profiles user_onboarding_profiles_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_onboarding_profiles
    ADD CONSTRAINT user_onboarding_profiles_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_private_profiles user_private_profiles_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_private_profiles
    ADD CONSTRAINT user_private_profiles_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_public_profiles user_public_profiles_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_public_profiles
    ADD CONSTRAINT user_public_profiles_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_reports user_reports_reported_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_reported_fkey FOREIGN KEY (reported_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_reports user_reports_reporter_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_reporter_fkey FOREIGN KEY (reporter_username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_skills user_skills_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA google_vacuum_mgmt; Type: ACL; Schema: -; Owner: cloudsqladmin
--

GRANT USAGE ON SCHEMA google_vacuum_mgmt TO cloudsqlsuperuser;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO cloudsqlsuperuser;


--
-- PostgreSQL database dump complete
--

\unrestrict Vvq1NdZ4YfpKM9z5RvCqHcRGj21ma8O6XrOcdXsms1XVfBGiQpsOdEcdAGPoTpg

